$breakpoint-tablet: 768px;

.context {


    .hero {
        text-align: left;
        margin: 50px 30px;

        h1 {    
            margin: 0 ;
            font-size: 1.7em;
            padding-top: 10px;
            line-height: 1.5em;
        }

        h3 {
            margin: 0;
        }
    }


    .info {
        text-align: left;
        background-color: #d3f3f1;
        border-radius: 4px;
        padding: 15px 10px;
        margin: 0 10px;

        @media (max-width: $breakpoint-tablet) {
            margin: 10px;
        }

        .heading {
            img {
                width: 15px;
                height: 15px;
            }

            font-weight: bold;
            padding-bottom: 7px;
            padding-left: 25px;
        }

        .desc {
            padding-left: 25px;
            font-size: 13px;
            text-align: justify;
            padding-right: 10px;
            line-height: 21px;
        }

    }

    .row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .col {
            width: 50%;

            @media (max-width: $breakpoint-tablet) {
                width: 100%;
            }


            .whole-img {
                width: 100%;
                padding: 25px;
                box-sizing: border-box;
            }
        }
    }




    p {
        text-align: left;
        margin: 11px 20px;
        font-size: 13px;
        line-height: 23px;
    }


    h2 {
        text-align: left;
        margin: 0 20px;
        font-size: 0.9em;
        padding-top: 10px;
        line-height: 1.4em;
    }


    .signup {
        font-size: 16;
        font-weight: bold;
        color: brown;
    }

}

.modal {

    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    transition: visibility 0s, opacity 0.5s ease-in;
    opacity: 0;

    &.hide {
        visibility: hidden;
        opacity: 0;
    }

    &.show {
        visibility: visible;
        opacity: 1;
    }

    &.fade-in {
        opacity: 1;
        visibility: visible;
    }

    &.fade-out {
        opacity: 0;
    }





    .modal-bg {
        width: 100%;
        height: 100%;
        z-index: 4;
        background-color: #000000;
        opacity: 0.4;
        position: fixed;
        top: 0;
        left: 0;

    }
    
    .box {
        background-color: #fff;
        max-width: 400px;
        width: 80%;
        z-index: 6;
        border-radius: 3px;
        box-shadow: 7px 6px 15px -1px rgb(0 0 0 / 24%);
    
        display: flex;
        flex-direction: column;

        .close {
            width: 20px;
            height: 20px;
            align-self: end;
            margin: 5px;
            cursor: pointer;
        }

        .content {
            padding: 0 10px;
            text-align: left;

            .heading {
                padding-bottom: 10px;
            }

            .email {

                display: flex;
                flex-direction: column;
                padding-bottom: 10px;
                .data{
    
                    display: flex;
    
                    .label {
    
                    }
    
                    .input {
                        flex-grow: 1;
                        margin: 0px 5px;

                        input {
                            width: 100%;
                        }
                    }
                }
    
                .validation {
                    color: #d10202;
                    padding-bottom: 10px;
                }

            }

            .info {

                display: flex;
                flex-direction: column;
                padding-bottom: 10px;
                .session {

                    .label {
                        font-size: .9em;
                    }
                    .data {
                        font-size: 1.1em;
                        font-style: italic;
                        font-weight: bold;
                        padding: 15px 4px;
                    }
                    .more {
                        font-size: .9em;
                        font-weight: bold;
                        text-decoration: underline;
                        text-align: right;
                    }

                   

                }
            }

            .actions {
                padding: 10px 0;

                button {
                    margin-right: 10px;
                }
            }
        }
    }
}

