
<div class="context ">

    <div class="hero">
        <h1>We help you start your journey to become a programmer</h1>
        <h3>
            Join our web development bootcamp, designed to prepare you for your first job as web developer:
        </h3> 
    </div>


    <div class="row">
        <div class="col">

            <div class="info">
                <div class="heading">
                    <img src="assets/question-mark.svg">
                    What is a web developer:
                </div>
                <div class="desc">
                    Web developer is an specific type of programmer that is focused on user interfaces (UI).
                </div>
            </div>

            <p>Web development is one of the fastest-growing careers in today’s economy. ICT workforce in Australia is expected to grow significantly</p>

            <p>Although most people think programming is very hard and only the smartest people can do it , Reality is programming is just a skill that anyone can master with the right traning and practice.</p>

            <div class="info">
                <div class="heading">
                    <img src="assets/question-mark.svg">
                    Why pick web developer for start:
                </div>
                <div class="desc">
                    Becoming a web developer is one of the fastest and easiest ways to start a courier in information technology. By becoming a web developer, you are essentially a programmer. Now you can explore so many possibility to go more deep in many other fields of programing. 
                    <br/>
                    Many people who working in non programing IT positions, also start from web development or other programming roles. 

                </div>
            </div>

        </div>
        <div class="col">
              
            <h2>Learn in demand skills through a market-driven curriculum</h2>

            <p>
                In our bootcamp,<b> we can’t guarantee your success. Only you can guarantee your success.</b> But we make sure you will have the best guidance and mentorship in your journey to become a programmer.        
            </p>

            <img class="whole-img" src="assets/sct1.png">
            
            <p>
                Our mentors are web developers who know exactly what skills you need for finding your first job. We guide you towards the fastest way to acquire best skills for a paying job as web developer.
            </p>

            <p>
                We are heavily focus on practice and do it to learn it approach. We start with small challenges and progress by making challenges gradually harder till it will be similar to what your paying job will demand from you. 
            </p>

           

            <div class="info">
                <div class="heading">
                    <img src="assets/question-mark.svg">
                    What we are focused on:
                </div>
                <div class="desc">
                    <ul>
                        <li>Javascript</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>GIT</li>
                        <li>Agile methodology</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="flow">
        <img src="assets/flow.svg">
    </div>

    <app-subjects></app-subjects>
    

    







  
  


  <h4>Sign up for our free monthly induction classes</h4>



  <button (click)="showModal()">modal</button>


  <div class="links" hidden>
    <a class="signup" [routerLink]="'signup'">sign up</a>

    <a class="signup" [routerLink]="'login'">login</a>

    <a [routerLink]="'admin/requests'">Admin</a>
  </div>

  <br />



  </div>

  <div class="modal" [ngClass]="{'hide': modalState === 'hidden', 'show': modalState === 'visible', 'fade-in': modalState === 'fade-in', 'fade-Out': modalState === 'fade-out'}" >
    <div class="modal-bg" (click)="closeModal()">
      
    </div>
    
    <div class="box">
        <div class="close" (click)="closeModal()">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="20px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="20px" xml:space="preserve"><path d="M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4  L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1  c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1  c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z"/></svg>
        </div>
        <div class="content">
            <div class="heading">Sign up for our induction zoom session:</div>
            <div class="email">
                <div class="data">
                    <div class="label">Email:</div>
                    <div class="input">
                        <input type="text"  [(ngModel)]="email" autocomplete="email" >
                    </div>
                </div>
                <div class="validation" [hidden]="isEmailValid">
                    valid email please
                </div>
            </div>
            <div class="info">
                <div class="session">
                    <div class="label">
                        next available session:
                    </div>
                    <div class="data">
                        Saturday May 14th 3:00 pm Sydney time(EAT)  
                    </div>
                    <div class="more" [routerLink]="'webinar'">
                        learn more
                    </div>
                </div>
            </div>
            <div class="actions">
                <button (click)="submit()">OK</button>
                <button (click)="closeModal()">CANCEL</button>
            </div>
        </div>
    </div>
  </div>

