<div class="context ">



  <!-- component -->
  <div class="flex items-center justify-center">

    <div class="grid grid-cols-5 gap-2 mt-8">

      <!-- Item 1 -->
      
        <img src="assets/image/html.png" class="hover:translate-x-1 hover:-translate-y-1 delay-50 duration-150" />
        <img src="assets/image/css.png" class="hover:translate-x-1 hover:-translate-y-1 delay-50 duration-150" />
        <img src="assets/image/js.png" class="hover:translate-x-1 hover:-translate-y-1 delay-50 duration-150" />
        <img src="assets/image/git.png" class="hover:translate-x-1 hover:-translate-y-1 delay-50 duration-150" />
        <img src="assets/image/angular.png" class="hover:translate-x-1 hover:-translate-y-1 delay-50 duration-150" />
      </div>

    </div>
      <div class="text-xl ">
        <h3>We help you start your journey to become a high paying programmer <br>Best way to learn programing is to
          learn it form programmers <br></h3>
        <h3>Although most people think programming is very hard and only the smartest people can do it , <br>Reality is
          programming is just a skill that anyone can master with the right traning and practice.</h3>




        <h6>Learn in demand skills through a market-driven curriculum</h6>

        <h6>Web development is one of the fastest-growing careers in today’s economy. ICT workforce in Australia is
          expected to grow significantly</h6>


        <div class="text-xl ">
          <h3>We help you start your journey to become a high paying programmer <br>Best way to learn programing is to
            learn
            it form programmers <br></h3>
        </div>
        <h3>Although most people think programming is very hard and only the smartest people can do it , <br>Reality is
          programming is just a skill that anyone can master with the right traning and practice.</h3>




        <h4>Sign up for our free monthly induction classes</h4>
      </div>




      <div class="flex justify-around">
        <a class="signup" [routerLink]="'signup'">sign up</a>

        <a class="signup" [routerLink]="'login'">login</a>
      </div>

      <br />

      <a [routerLink]="'admin/requests'">Admin</a>
    