<h1 class="text-center text-3xl text-6xl ">ثبت نام</h1>

<br>
<br>
<br>

<div class=" flex w-full">
<div class="form w-2/3 mt-16 " *ngIf="!formSubmitted">
    <div class="field text-right py-2">
        <div class="title">نام</div>
        <div class="value">
            <input [(ngModel)]="name" type="text" class="rounded-lg  text-left border-2 border-teal-300" placeholder="Name">
        </div>
    </div>

    <div class="field text-right py-2">
        <div class="title ">نام خانوادگی</div>
        <div class="value">
            <input [(ngModel)]="family" type="text" class="rounded-lg  text-left border-2 border-teal-300" placeholder="lastName">
        </div>
    </div>
    <div class="field text-right py-2">
        <div class="title">ایمیل</div>
        <div class="value">
            <input [(ngModel)]="email" type="text" class="rounded-lg text-left border-2 border-teal-300" placeholder="Email">
        </div>
    </div>
    <div class="field text-right py-2">
        <div class="title">موبایل</div>
        <div class="value">
            <input [(ngModel)]="phone" type="text" class="rounded-lg  text-left border-2 border-teal-300" placeholder="phoneNumber">
        </div>
    </div>

    


    <div class="actions">
        <button (click)="submit()" class="border-4 border-blue-300/75 rounded-2xl p-2 hover:bg-blue-300   ">ارسال</button>
    </div>

</div>
<div class="w-2/3 aspect-square bg-blue-300  rounded-xl " id="q">

<div class="after-submit" *ngIf="formSubmitted">

    <p>
        you signed up successfully. you will receive an email with invite to class 
    </p>
</div>

</div>
</div>
<div class="w-full mt-4"><button><a [routerLink]="''" class="border-4  border-blue-300/75  rounded-2xl p-2 hover:bg-blue-300  ">صفحه اصلی
</a></button> </div>
 