/* You can add global styles to this file, and also import other style files */

html {
    
    display: flex;
    justify-content: center;
}

    body {
        max-width: 1000px;
        text-align: center;
        font-family: 'vazir' ,sans-serif;
    }
